.App {
	text-align: center;
}

body {
	background: #f6f7f9;
	font-family: "proxima-nova", sans-serif;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inter", sans-serif !important;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	margin-bottom: 10px;
}

.ip-form-header {
	margin-top: 10px;
}
.ip-card {
	border-radius: 10px;
	margin-bottom: 20px;
}
.ip-section {
	margin-left: 23px;
}

.header,
.footer {
	background-color: #101940;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 10px 10px 10px 10px;
}
.single-section {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.large-info-header {
	text-align: center;
	margin: auto;
	width: 100%;
	background-color: #101940;
	color: white;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
}

.footer a {
	color: #fe7a38;
}

.ip-list {
	height: 200px;
	overflow: scroll;
	height: 600px;
}

.ip-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ip-form,
.users {
	height: 88%;
}
.main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 16px;
	padding-top: 35px;
}

@media only screen and (max-width: 800px) {
	.main {
		display: block;
	}
	.ip-list {
		height: 200px;
		margin-bottom: 10px;
	}
	.search-ip-header {
		visibility: hidden;
	}
}

.search-section {
	width: 10%;
}
.search-btn {
	width: 73%;
	border-radius: 4;
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: 100%;
}
.search-input {
	height: 36px;
	width: 100%;
	border-radius: 4;
	margin-right: 10px;
}
.clear-btn {
	width: 73%;
	border-radius: 4;
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
